<!-- templates/statuses/status_form.html -->
{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class="my-4">{% if form.instance.pk %}Редактировать статус{% else %}Новый статус{% endif %}</h1>
  
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
      {% if form.instance.pk %}Изменить{% else %}Создать{% endif %}
    </button>
    <a href="{% url 'statuses:statuses_list' %}" class="btn btn-secondary">Отмена</a>
  </form>
{% endblock %}