<!-- templates/tasks/tasks_list.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Задачи</h2>
  <a href="{% url 'task_create' %}" class="btn btn-primary mb-3">➕ Новая задача</a>
  
  {% if tasks %}
    <div class="list-group">
      {% for task in tasks %}
        <div class="list-group-item">
          <h5>{{ task.name }}</h5>
          <p>{{ task.description|default:"Нет описания" }}</p>
          <small>Автор: {{ task.author.username }} | Статус: {{ task.status.name }}</small>
          
          <div class="mt-2">
            <a href="{% url 'task_update' task.pk %}" class="btn btn-sm btn-warning">✏️ Редактировать</a>
            <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger">🗑️ Удалить</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Нет задач.</p>
  {% endif %}
</div>
{% endblock %}