<!DOCTYPE html>
<html>
<head>
    <title>Статусы</title>
</head>
<body>
    <nav>
        <a class="nav-link" href="{% url 'statuses_list' %}">Список статусов</a>
        
    </nav>
    
    {% if messages %}
        <div class="container mt-3">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
         </div>
    {% endif %}



    <div>
        {% if messages %}
            {% for message in messages %}
                <div style="color: green; font-weight: bold;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>