{% load  static %}
<!DOCTYPE html>
<html lang="ru-ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Менеджер задач</title>
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    </head>
    <body class="">
      <nav class="navbar navbar-expand-lg navbar-light bg-light ms=3">
        <a class="navbar-brand" href="#">Менеджер задач</a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <p class="navbar-nav">
            <h2 class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Пользователи</a>
              <a class="nav-link" href="/">Вход</a>
              <a class="nav-link" href="/">Регистрация</a>
            </h2>
        </div>
      </nav>
    </body>
</html>

